/* ========== to all =============== */
:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color-light-theme: #212121;
  --primary-text-color-dark-theme: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

.body {
  font-family: var(--primary-font);
  color: var(--primary-text-color-light-theme);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* ============= header ============ */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo .logo-studio {
  color: #000000;
}

.active-page {
  color: var(--accent-color);
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-head:hover,
.contacts-head:focus {
  color: var(--accent-color);
}

/* ============= /header ============ */

/* ============= Main hero ============= */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-dark-theme);
  background-color: #2f303a;
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-text-color-dark-theme);
  background-color: var(--accent-color);
}

.modal-btn:hover {
  background-color: #188ce8;
}

.title-operation {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--primary-text-color-light-theme);
}

.description-operation {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.second-occupation {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
}

.team-description-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-description-item {
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ==============Portfolio=========== */

.modal-btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  color: var(--primary-text-color-dark-theme);
  background-color: var(--accent-color);
}

.portfolio-description-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description-item {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ============= footer ============= */

.goo-foot {
color:var(--primary-text-color-dark-theme);
}

.goo-foot:hover,
.goo-foot:focus {
  color: var(--accent-color);
}


.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: var(--primary-text-color-dark-theme);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-dark-theme);
}

.address .foot {
  color: rgba(255, 255, 255, 0.6);
}

.foot:hover,
.foot:focus {
  color: var(--accent-color);
}
